body {
  background: lavenderblush;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: auto;
  color: black;

}

.wrapper {
  width: 800px;
  margin: 30px auto;

  text-align: center;
}

.contents-container {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin: 50px 0px !important;
  width: max-content !important;

}

h1 {
  color: white;
  text-shadow: 2px 4px 4px black;
  margin: 20px;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds,
#tens,
#minutes {
  font-size: 2em;
}

button {

  color: white;
  border: solid 1px black;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 100px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  background: rgb(40, 40, 133);
  border: solid 1px black;
  border-radius: 5px;
}

.form {
  text-align: left !important;
  width: 500px !important;
  border: 1px solid black;
  margin-right: 10px;
  padding: 20px !important;
}


.timer {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px black;
  margin: 10px 20px 70px 10px !important;
  width: max-content;
  padding: 30px !important;
  height: max-content;


}

#display {


  display: none;
  text-align: center;
  align-items: center;
  width: max-content;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  color: white;
  margin-left: 23%;
  background-color: steelblue;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}

h1 {
  text-align: center;
}

.error {
  color: red;
  float: right
}


.form {
  border: 2px ridge black;
  left: -80px;
  position: relative;
  box-shadow: 2px 2px 2px black;

}

.form-wrapper {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  color: black;


}